<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shape Maker</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Create a basic shape by adding shape and size to url.</h1>
  <p><a href="sinatrashapes.herokuapp.com/box/100/100">sinatrashapes.herokuapp.com/box/100/100</a></p>
  <p>Change the word "box" to "circle" for a circle and both numbers to create the width and height respectively.</p>
</body>
</html>
